package ${packageName}.dao;

import java.util.List;
import java.util.Map;

import ${packageName}.model.${upClassName};

${classTitle}
public interface ${upClassName}Mapper {

    /**
     * 创建
     */
    public void add${upClassName}(${upClassName} ${lowClassName});

    /**
     * 更新
     */
    public void update${upClassName}(${upClassName} ${lowClassName});

    /**
     * 删除
     */
    public void delete${upClassName}(${primaryKeyType} ${normalPrimaryKey});

    /**
     * 通过主键ID查询
     */
    public ${upClassName} findBy${primaryKey}(${primaryKeyType} ${normalPrimaryKey});

    /**
     * 通过参数查询
     */
    public ${upClassName} find${upClassName}(Map<String, Object> map);

    /**
     * 查询list
     */
    public List<${upClassName}> list${upClassName}(Map<String, Object> map);

    /**
     * 查询list数量
     */
    public Integer list${upClassName}Count(Map<String, Object> map);

}
