package ${packageName}.dao;

import java.util.List;
import java.util.Map;

import ${packageName}.dao.po.${upClassName}PO;
import org.springframework.stereotype.Repository;

${classTitle}
@Repository
public interface ${upClassName}DAO {

    /**
     * 创建${upClassName}PO
     *
     * @param ${lowClassName}PO ${upClassName}PO对象
     */
    public void add${upClassName}PO(${upClassName}PO ${lowClassName}PO);

    /**
     * 更新${upClassName}PO
     *
     * @param ${lowClassName}PO ${upClassName}PO对象
     */
    public void update${upClassName}PO(${upClassName}PO ${lowClassName}PO);

    /**
     * 主键${primaryKey}删除${upClassName}PO
     *
     * @param ${primaryKey} ${upClassName}PO主键
     */
    public void delete${upClassName}PO(${primaryKeyType} ${primaryKey});

    /**
     * 主键${primaryKey}查询${upClassName}PO
     *
     * @param ${primaryKey} ${upClassName}PO主键
     * @return ${upClassName}PO对象
     */
    public ${upClassName}PO findBy${primaryKeyFirstSymbolUppercase}(${primaryKeyType} ${primaryKey});

    /**
     * 查询${upClassName}PO对象
     *
     * @param map 查询参数HashMap
     * @return ${upClassName}PO对象
     */
    public ${upClassName}PO find${upClassName}PO(Map<String, Object> map);

    /**
     * 查询${upClassName}PO list集合
     *
     * @param map 查询参数HashMap
     * @return List<${upClassName}PO>对象
     */
    public List<${upClassName}PO> list${upClassName}PO(Map<String, Object> map);

    /**
     * 查询${upClassName}PO数量
     *
     * @param map 查询参数HashMap
     * @return 查询记录条数
     */
    public Integer list${upClassName}POCount(Map<String, Object> map);

}
