package ${packageName}.manage.impl;

import ${packageName}.service.${lowClassName}OperateService;
import ${packageName}.dao.model.${upClassName};

${classTitle}
@Service("${lowClassName}OperateManager")
public class ${upClassName}OperateManagerImpl implements ${upClassName}OperateManager  {

	/** sl4j */
	private static final Logger LOGGER = LoggerFactory.getLogger(${upClassName}OperateManagerImpl.class);

	@Autowired
	private ${upClassName}QueryService ${lowClassName}QueryService;

	@Override
	public void add${upClassName}(${upClassName} ${lowClassName}) {
		return ${lowClassName}QueryService.add${upClassName}(${lowClassName});
	}

	@Override
	public void update${upClassName}(${upClassName} ${lowClassName}) {
		return ${lowClassName}QueryService.update${upClassName}(${lowClassName})
	}

}