package ${packageName}.service;

${classTitle}
public interface ${upClassName}OperateManager {

	/**
	 * 创建${upClassName}
	*/
	public Result add${upClassName}(${upClassName}DTO ${upClassName}DTO);

	/**
	 * 更新${upClassName}
	*/
	public Result update${upClassName}(${upClassName}DTO ${upClassName}DTO);

}