package ${packageName}.service;

import ${packageName}.service.${upClassName}QueryService;

${classTitle}
@Service("${lowClassName}QueryManager")
public class ${upClassName}QueryManagerImpl implements ${upClassName}QueryManager {

	/** sl4j */
	private static final Logger LOGGER = LoggerFactory.getLogger(${upClassName}QueryManagerImpl.class);

	@Autowired
	private ${upClassName}QueryService ${lowClassName}QueryService;

	public Result get${upClassName}ByPrimaryKey(${primaryKeyType} ${primaryKey}) {
		return null;
	}

}