package ${packageName}.manage.impl;

import ${packageName}.service.${upClassName}OperateService;
import ${packageName}.dao.model.${upClassName};

${classTitle}
@Service("${lowClassName}OperateManager")
public class ${upClassName}OperateManagerImpl implements ${upClassName}OperateManager  {

	/** sl4j */
	private static final Logger LOGGER = LoggerFactory.getLogger(${upClassName}OperateManagerImpl.class);

	@Autowired
	private ${upClassName}OperateService ${lowClassName}OperateService;

	@Override
	public void add${upClassName}(${upClassName} ${lowClassName}) {
		${lowClassName}OperateService.add${upClassName}(${lowClassName});
	}

	@Override
	public void update${upClassName}(${upClassName} ${lowClassName}) {
		${lowClassName}OperateService.update${upClassName}(${lowClassName})
	}

}