package ${packageName}.service;

import ${packageName}.service.${lowClassName}QueryService;
import ${packageName}.service.${lowClassName}OperateService;

${classTitle}
@Service("${lowClassName}OperateManager")
public class ${upClassName}OperateManagerImpl implements ${upClassName}OperateManager  {

	/** sl4j */
	private static final Logger LOGGER = LoggerFactory.getLogger(${upClassName}OperateManagerImpl.class);

	@Autowired
	private ${upClassName}QueryService ${lowClassName}QueryService;

	@Autowired
	private ${upClassName}OperateService ${lowClassName}OperateService;

	@Override
	public Result add${upClassName}(${upClassName}${domain} ${upClassName}${domain}) {
		return null;
	}

	@Override
	public Result update${upClassName}(${upClassName}${domain} ${upClassName}${domain}) {
		return null;
	}

}