package com.oneplus.inventory.dao.po;

#foreach($ims in $importSets)
${ims}
#end
import com.oneplus.common.biz.BasePO;
import org.apache.ibatis.type.Alias;
import com.oneplus.common.lang.NoNullStyle;
import org.apache.commons.lang3.builder.ToStringBuilder;
import java.io.Serializable;

${classTitle}
@Alias("${upClassName}PO")
public class ${upClassName}PO extends BasePO implements Serializable {
    private static final long serialVersionUID = ${SerialVersionUID}L;

#foreach($field in $fields)
    ${field}
#end
#foreach($method in $methods)
    ${method}
#end
    @Override
    public String toString() {
        return ToStringBuilder.reflectionToString(this, new NoNullStyle());
    }
}
