package ${packageName}.service;

import java.util.List;

#parse("author.vm")
public interface ${upClassName}QueryService {

	/**
	 * 通过主键${primaryKeyType}查询${upClassName}
	 */
	public ${upClassName} get${upClassName}ByPrimaryKey(${primaryKeyType} ${primaryKey});

}