package ${packageName}.service;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import ${packageName}.service.dto.${upClassName}DTO;
import ${packageName}.dao.${upClassName}Mapper;
import ${packageName}.dao.model.${upClassName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

${classTitle}
@Service("${lowClassName}QueryService")
public class ${upClassName}QueryServiceImpl implements ${upClassName}QueryService {

	/** sl4j */
	private static final Logger LOGGER = LoggerFactory.getLogger(${upClassName}QueryServiceImpl.class);

	@Autowired
	private ${upClassName}Mapper ${lowClassName}Mapper;

    public ${upClassName}DTO get${upClassName}ByPrimaryKey(${primaryKeyType} ${normalPrimaryKey}) {
        ${upClassName} ${lowClassName} = ${lowClassName}Mapper.findBy${primaryKey}(${normalPrimaryKey});
        return ${upClassName}DTOConvert.convert(${lowClassName});
	}

}