package ${packageName}.service;

import ${packageName}.dao.model.${upClassName};

${classTitle}
public interface ${upClassName}OperateService {

	/**
     * 创建${upClassName}
     *
     * @param ${lowClassName} ${upClassName}对象
	 */
	public void add${upClassName}(${upClassName} ${lowClassName});

	/**
	 * 更新${upClassName}
	 *
	 * @param ${lowClassName} ${upClassName}对象
	 */
	public void update${upClassName}(${upClassName} ${lowClassName});

}