package ${packageName}.service;

import ${packageName}.service.dto.${upClassName}DTO;

#parse("author.vm")
public interface ${upClassName}OperateService {

	/**
     * 创建${upClassName}
	 */
	public void add${upClassName}(${upClassName}DTO ${upClassName}DTO);

	/**
	 * 更新${upClassName}
	 */
	public void update${upClassName}(${upClassName}DTO ${upClassName}DTO);

}