package ${packageName}.service.convert;

import java.util.List;

import org.apache.commons.collections.CollectionUtils;
import com.google.common.collect.Lists;
import com.oneplus.service.dto.${upClassName}DTO;
import com.oneplus.dao.model.${upClassName};

#parse("author.vm")
public class ${upClassName}DTOConvert {

    private ${upClassName}DTOConvert() {
    }

    public static ${upClassName}DTO convert(${upClassName} ${lowClassName}) {
        if (${lowClassName} == null) {
            return null;
        }

        ${upClassName}DTO ${lowClassName}DTO = new ${upClassName}DTO();
#foreach($convert in $convertDTOs)
        ${convert};
#end

        return ${lowClassName}DTO;
    }

    public static List<${upClassName}DTO> convert(List<${upClassName}> ${lowClassName}s) {
        if (CollectionUtils.isEmpty(${lowClassName}s)) {
            return Lists.newArrayList();
        }

        List<${upClassName}DTO> ${lowClassName}DTOs = Lists.newArrayList();
        for (${upClassName} ${lowClassName} : ${lowClassName}s) {
            ${lowClassName}DTOs.add(convert(${lowClassName}));
        }

        return ${lowClassName}DTOs;
    }

}
