package ${packageName}.service.dto;

#foreach($ims in $importSets)
${ims}
#end
import org.apache.commons.lang.builder.ToStringBuilder;
import java.io.Serializable;

#parse("author.vm")
public class ${upClassName}DTO implements Serializable {
##    private static final long serialVersionUID = ${SerialVersionUID}L;

#foreach($field in $fields)
    ${field}
#end
#foreach($method in $methods)
    ${method}
#end
    @Override
    public String toString() {
        return ToStringBuilder.reflectionToString(this);
    }
}
