package ${packageName}.service;

import ${packageName}.service.domain.${upClassName}${domain};

${classTitle}
public interface ${upClassName}OperateService {

	/**
     * 创建${upClassName}
	 */
	public void add${upClassName}(${upClassName}${domain} ${upClassName}${domain});

	/**
	 * 更新${upClassName}
	 */
	public void update${upClassName}(${upClassName}${domain} ${upClassName}${domain});

}