package ${packageName}.service;

import java.util.List;
import ${packageName}.model.${upClassName};

#parse("author.vm")
public interface ${upClassName}QueryService {

	public List<${upClassName}> get${upClassName}List();

	public ${upClassName} get${upClassName}ByPrimaryKey(${primaryKeyType} ${primaryKey});

}