package ${packageName}.service;

import ${packageName}.dao.model.${upClassName};
import ${packageName}.vo.${upClassName}VO;
import com.oneplus.wms.common.page.Paging;
import com.oneplus.wms.common.page.PagingRequest;

import java.util.List;
import java.util.Map;

${classTitle}
public interface ${upClassName}QueryService {

	/**
	 * 通过主键${primaryKeyType}查询${upClassName}
     *
	 * @param ${normalPrimaryKey} ${upClassName}主键
	 * @return ${upClassName}对象
	 */
	public ${upClassName} find${upClassName}By${primaryKey}(${primaryKeyType} ${normalPrimaryKey});

	/**
	 * 通过${primaryKeyType}集合查询${upClassName}
	 *
	 * @param ${normalPrimaryKey}s ${upClassName}s主键数组
	 * @return List<${upClassName}>
	 */
	public List<${upClassName}> list${upClassName}(${primaryKeyType}[] ${normalPrimaryKey}s);

	/**
	 * 通过${primaryKeyType}集合查询${upClassName}
	 *
	 * @param ${normalPrimaryKey}s ${upClassName}s主键数组
	 * @return Map<${primaryKeyType}, ${upClassName}> KEY:${normalPrimaryKey} Value:${upClassName}
	 */
	public Map<${primaryKeyType}, ${upClassName}> map${upClassName}(${primaryKeyType}[] ${normalPrimaryKey}s);

	/**
	 * 分页查询${upClassName}
	 *
	 * @param ${lowClassName}VO ${upClassName}VO对象
     * @param pagingRequest 分页请求
     * @return paging对象
	 */
	public Paging<${upClassName}> find${upClassName}ByPage(${upClassName}VO ${lowClassName}VO, PagingRequest pagingRequest);

}