package ${packageName}.service;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import ${packageName}.service.domain.${upClassName}${domain};
import ${packageName}.dao.${upClassName}Mapper;
import ${packageName}.dao.model.${upClassName};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

${classTitle}
@Service("${lowClassName}OperateService")
public class ${upClassName}OperateServiceImpl implements ${upClassName}OperateService {

	/** sl4j */
	private static final Logger LOGGER = LoggerFactory.getLogger(${upClassName}OperateServiceImpl.class);

	@Autowired
	private ${upClassName}Mapper ${lowClassName}Mapper;

	@Override
	public void add${upClassName}(${upClassName}${domain} ${lowClassName}${domain}) {
		${upClassName} ${lowClassName} = ${upClassName}Convert.convert(${lowClassName}${domain});
		${lowClassName}Mapper.add${upClassName}(${lowClassName});
		LOGGER.info("增加${upClassName}成功, ${lowClassName}=", ${lowClassName});
	}

	@Override
	public void update${upClassName}(${upClassName}${domain} ${lowClassName}${domain}) {
		${upClassName} ${lowClassName} = ${upClassName}Convert.convert(${lowClassName}${domain});
		${lowClassName}Mapper.update${upClassName}(${lowClassName});
		LOGGER.info("更新${upClassName}成功, ${lowClassName}=", ${lowClassName});
	}

}